* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/*  */
.navbar {
    max-width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
    background: rgba(26, 11, 46, 1);
    padding: 16px 0px;
    margin: 0 auto;

}

nav {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 58px;
    margin: 0 auto;
    align-items: center;
}

nav>img {
    width: 219px;
    height: 32px;
}

.menu {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;

}

li a {
    text-decoration: none;
    color: #FFFFFF;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;

}

.navButton {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    width: 135px;
    height: 44px;
    align-items: center;
    gap: 4;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.navButton img {
    margin-left: 4px;
}

.hamburger {
    display: none;
}






/* responsive code */

@media screen and (max-width:480px) {

    .menu,
    .navButton {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger img {
        width: 24px;
        height: 24px;
        margin-right:20px;
    }

    .logo-navbar{
        margin-left: 20px;
    }

}