* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/*  */
.navbar {
    max-width: 1600px;
    height: 92px;
    /* border: 1px solid red; */
    background: rgba(26, 11, 46, 1);
    padding: 16px 0px;
    margin: 0 auto;

}

nav {
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 58px;
    margin: 0 auto;
    align-items: center;
}

nav>img {
    width: 219px;
    height: 32px;
}

.menu {
    display: flex;
    gap: 32px;
    align-items: center;
    list-style: none;

}

li a {
    text-decoration: none;
    color: #FFFFFF;
    font-style: Medium;
    font-size: 16px;
    font-weight: 500;

}

.navButton {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 600;
    width: 135px;
    height: 44px;
    align-items: center;
    gap: 4;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 10000px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.navButton img {
    margin-left: 4px;
}

.hamburger {
    display: none;
}



/* hero */


.hero {
    background-image: url(./assets/hero-bg.png);
    background-position: center;
    background-size: cover;
    max-width: 1600px;
    height: 760px;
    border: 1px solid rgba(26, 11, 46, 1);
    margin: 0 auto;
}

.hero .heroMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    width: 550px;
    height: 558px;
    margin: 101px auto;

}

.hero-circle {
    position: relative;
    border-radius: 50%;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
}

.microphone {
    position: absolute;
    top: 270px;
    height: 200px;
}

.new {
    font-size: 18px;
    font-weight: 600;
    width: 75px;
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1000px;
    box-shadow: 0px 3px 27px 0px rgba(0, 255, 136, 0.5);
    background-color: #00FF88;
    position: relative;
    left: 140px;
    top: -326px;
}


h1 {
    width: 550px;
    height: 73px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    font-size: 60px;
    font-weight: 800;
}

.heroMain p {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 24px;
    padding-top: 8px;
}

.button {
    /* border: 1px solid red; */
    display: flex;
    gap: 8px;
}

.button1 {
    width: 201px;
    height: 44px;
    background: var(--Linear, linear-gradient(47.64deg, rgba(247, 233, 63, 1), rgba(251, 9, 180, 1), rgba(145, 0, 248, 1)));
    border: none;
    color: #FFFFFF;
    display: flex;
    gap: 8px;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10000px;

    font-size: 16px;
    font-weight: 600;
}

.button2 {
    width: 147px;
    height: 44px;
    color: #00FF88;
    padding: 12px 20px;
    border: 1px solid #00FF88;
    border-radius: 10000px;
    background-color: transparent;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    border-radius: 10000px;
}

/*  */

.AboutthePodcast {
    max-width: 1600px;
    height: 646px;
    border: 1px solid rgba(26, 11, 46, 1);
    /* border: 1px solid red; */
    background: rgba(26, 11, 46, 1);
    margin: 0 auto;
}

.AboutthePodcastMain {
    /* border: 1px solid red; */
    max-width: 1200px;
    margin: 50px auto 120px;

}

.AboutthePodcastMain>div {
    text-align: center;
}

.AboutThePodcastP {
    /* border: 1px solid red; */
    font-size: 48px;
    font-weight: 700;
    color: #FFFFFF;
    padding-bottom: 16px;
}

.txt {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.singleLine {
    padding-top: 40px;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 80px;
}

.solidline {
    max-width: 1200px;
    /* height: 0px; */
    border: 1px solid #FFFFFF;
    opacity: 0.1;

}

.AboutthePodcastBottom {
    display: flex;
    justify-content: space-around;
    padding-top: 80px;
    /* border: 1px solid rebeccapurple; */
    /* align-items: center;
    text-align: center; */

}

.AboutthePodcastBottom div {
    /* align-items: center; */
    /* text-align: center; */
    max-width: 1200px;
    height: 94px;
    /* border: 1px solid yellow; */
}

.green {
    color: #00FF88;
    font-size: 48px;
    font-weight: 900;
    text-align: center;
}

.AboutthePodcastBottomTXT {
    color:#FFFFFF;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}









/* responsive code */

@media screen and (max-width:480px) {

    .menu,
    .navButton {
        display: none;
    }

    .hamburger {
        display: block;
    }

    .hamburger img {
        width: 24px;
        height: 24px;
        margin-right: 20px;
    }

    .logo-navbar {
        margin-left: 20px;
    }

    .hero {
        /* background-image: url(./assets/hero-bg.png); */
        /* background-position: center; */
        /* background-size: cover; */
        /* display: none; */
        /* max-width: 1600px;
        height: 760px;
        border: 1px solid rgba(26, 11, 46, 1);
        ;
        margin: 0 auto; */
        /* background-image: url(./assets/Image.png); */
        max-width: 440px;
        max-height: 466px;

        border: 1px solid red;
    }

}